{% extends 'base.html' %}

{% block content %}
  <h2>Meal Plans</h2>
  <ul>
    {% for meal_plan in meal_plan_list %}
      <li>
        <strong>{{ meal_plan.title }}</strong>
        <br>
        Description: {{ meal_plan.description }}
        <br>
        Created by: {{ meal_plan.user.get_full_name }}
        <br>
        Foods:
        <ul>
          {% for food in meal_plan.foods.all %}
            <li>{{ food.name }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
