<header class="p-3 text-white d-flex">
  <div class="container mx-auto">
    <div class="flex-wrap align-items-center">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'tracker:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="{% url 'tracker:food-list' %}" class="nav-link px-2 text-secondary">Food</a></li>
        <li><a href="{% url 'tracker:meal-plan-list' %}" class="nav-link px-2 text-secondary">Meal Plans</a></li>
        <li><a href="{% url 'tracker:nutrition-tracker-list' %}" class="nav-link px-2 text-secondary">Tracker</a></li>
        <li><a href="{% url 'tracker:user-list' %}" class="nav-link px-2 text-secondary">Users</a></li>
        {% if user.is_authenticated %}
          <li>
            <a class="nav-link px-4 ml-lg-5" style="color: coral" href="{% url 'tracker:user-detail' pk=user.id%}">{{ user.get_username }}</a>
          </li>
          <li>
            <a class="nav-link px-1 log-font" href="{% url 'logout' %}">
              Logout
            </a>
          </li>
        {% else %}
          <li>
            <a class="nav-link px-2 log-font" href="{% url 'login' %}">
              Login
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
