<ul class="nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>
  <li class="list-group-item"><a href="{% url 'tracker:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tracker:food-list' %}">Food</a></li>
  <li class="list-group-item"><a href="{% url 'tracker:meal-plan-list' %}">Meal Plans</a></li>
  <li class="list-group-item"><a href="{% url 'tracker:nutrition-tracker-list' %}">Nutrition Tracker</a></li>
  <li class="list-group-item"><a href="{% url 'tracker:user-list' %}">Users</a></li>
</ul>
